<div class="col-md-6 col-md-offset-3">
    <h2>Ciao {{currentUser.firstName}}!</h2>
    <p>Hai effettuato l'accesso</p>
    <ul>
        <li> {{currentUser.username}} ({{currentUser.firstName}} {{currentUser.lastName}} - {{currentUser.email}})
            <a class="btn btn-link" id="link-destructive" (click)="deletePopUp = true"> Delete </a>
            <div class="overlay" *ngIf="deletePopUp">
                <div class="popup">
                    <h2>Elimina profilo utente</h2>
                    <a class="close" (click)="deletePopUp = false">&times;</a>
                    <div class="content">
                        Sei sicuro di voler eliminare questo utente?
                    </div>
                    <div align="right">
                        <button type="submit" class="ui button" (click)="deletePopUp = false">Annulla</button>
                        <button type="submit" class="ui button" id="destructive"
                            (click)="deleteUser(currentUser.id)">Elimina</button>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
