
<div class="ui grid" id="content">
	<div class="six wide column">
		<h2>Processi Avviati</h2>
		<ul class="tasks">
			<div *ngFor="let task of tasks" (click)="refresh()">
				<a routerLink="/tasklist/{{task.id}}">
					<div id="task-item" [class.selected]="task.id == taskId">
						<h4>{{task.name}}</h4>
						<h5>{{task.id}}</h5>
					</div>
				</a>
			</div>
			<div *ngIf="tasks.length===0">
				<h4>Non ci sono processi avviati.</h4>
			</div>
		</ul>
	</div>
	<div class="ten wide column">
		<div *ngIf="taskId">
			<generic-form [taskId]="taskId" [formKey]="formKey"></generic-form>
		</div>
		<div *ngIf="!taskId">
			<p>Selezionare un task</p>
		</div>
	</div>
</div>