<form (ngSubmit)="onSubmit()" (ngModelChange)="changedExtraHandler($event)" #salvataggio="ngForm" class="ui form">
	<div [hidden]="submitted">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li id="breadcrumb-item-active" class="breadcrumb-item active">Salvataggio</li>
			</ol>
		</nav>

		<div name="risultatoSalvataggio" id="area-info">
			<p>Il server ha preso in carico la tua richiesta di salvataggio del preventivo {{model.idPreventivo}} ed è andata <span><strong>a buon fine. </strong></span></p>
		</div>
		<button type="submit" class="ui button" [disabled]="!salvataggio.form.valid">Conferma</button>
	</div>
	<div [hidden]="!submitted">
		<p>Task completed.</p>
	</div>
</form>