<form (ngSubmit)="onSubmit()" (ngModelChange)="changedExtraHandler($event)" #areaOggetti="ngForm" class="ui form">
	<div [hidden]="submitted">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li id="breadcrumb-item-active" class="breadcrumb-item active">Scelta Area Oggetti</li>
			</ol>
			<div class="fields">
				<div class="eight wide field">
					<label for="areaBisogno"> Area di Bisogno </label>
					<select id="areaBisogno" class="form-control" [(ngModel)]="areaId" name="areaBisogno"
						#name="ngModel" (change)="popolaOggettiSelezionabili()" required>
						<option></option>
						<option *ngFor="let area of areeBisogno" value="{{area.id}}">{{area.nome}}</option>
					</select>
				</div>
				<div class="eight wide field">
					<label for="oggetto"> Oggetto </label>
					<select id="oggetto" class="form-control" [(ngModel)]="oggettoId" name="oggetto" #name="ngModel"
						[disabled]="areaId == ''" (change)="selezionaOggetto()">
						<option *ngFor="let oggetto of areaSelezionata.oggetti" value="{{oggetto.id}}">{{oggetto.nome}}
						</option>
					</select>
				</div>
			</div>
			<div *ngIf="oggettoId != ''" class="sixteen wide field" id="area-oggetto">
				<h4>Informazioni oggetto {{model.nome}}</h4>
				<p>{{model.descrizione}}</p>
			</div>
		</nav>
		<button type="submit" class="ui button" [disabled]="!areaOggetti.form.valid">Conferma</button>
	</div>
	<div [hidden]="!submitted">
		<p>Task completed.</p>
	</div>
</form>