<div [hidden]="submitted">
	<form (ngSubmit)="onSubmit()" (ngModelChange)="changedExtraHandler($event)" #consensi="ngForm" class="ui form">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li id="breadcrumb-item" class="breadcrumb-item">Anagrafica</li>
				<li id="breadcrumb-item-active" class="breadcrumb-item active" aria-current="page">Consensi</li>
			</ol>
		</nav>
		
		<button type="submit" class="ui button" [disabled]="!consensi.form.valid">Conferma</button>
	</form>
</div>

<div [hidden]="!submitted">
	<p>Task completed.</p>
</div>