<form (ngSubmit)="onSubmit()" (ngModelChange)="changedExtraHandler($event)" #inserimentoInfoCliente="ngForm"
	class="ui form">
	<div [hidden]="submitted">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li id="breadcrumb-item-back" class="breadcrumb-item-back">
					<button name="breadcrumb-item-back-button" type="submit" id="breadcrumb-item-back-button" class="breadcrumb-item-back-button" (click)="setAction('selezionaAccordo')">Seleziona Accordo</button></li>
				<li id="breadcrumb-item-back" class="breadcrumb-item-back">
					<button name="breadcrumb-item-back-button" type="submit" id="breadcrumb-item-back-button" class="breadcrumb-item-back-button" (click)="setAction('sceltaAreaOggetti')">Scelta Area Oggetti</button></li>
				<li id="breadcrumb-item-back" class="breadcrumb-item-back">
					<button name="breadcrumb-item-back-button" type="submit" id="breadcrumb-item-back-button" class="breadcrumb-item-back-button" (click)="setAction('sceltaPacchetto')">Scelta Pacchetto</button></li>
				<li id="breadcrumb-item-active" class="breadcrumb-item active">Informazioni Cliente</li>
					<li id="breadcrumb-item" class="breadcrumb-item">Riepilogo Dati</li>
				</ol>
		</nav>

		<div class="fields">
			<div class="eight wide field">
				<label for="nomeCliente"> Nome </label>
				<input type="text" id="nomeCliente" required [(ngModel)]="model.nomeCliente" name="nomeCliente"
					#name="ngModel">
			</div>
			<div class="eight wide field">
				<label for="cognomeCliente"> Cognome/Ragione sociale </label>
				<input type="text" id="cognomeCliente" required [(ngModel)]="model.cognomeCliente"
					name="cognomeCliente" #name="ngModel">
			</div>
		</div>
		<div class="fields">
			<div class="eight wide field">
				<label for="codiceFiscale"> Codice Fiscale </label>
				<input type="text" id="codFisCli" [(ngModel)]="model.codiceFiscaleCliente" [disabled]="model.partitaIvaCliente!=''"
					name="codiceFiscaleCliente" #name="ngModel">
			</div>
			<div class="eight wide field">
				<label for="partitaIvaCliente"> Partita Iva </label>
				<input type="text" id="parIvaCli" [(ngModel)]="model.partitaIvaCliente" [disabled]="model.codiceFiscaleCliente!=''"
					name="partitaIvaCliente" #name="ngModel">
			</div>
		</div>
		<div class="control">
			<div class="sixteen wide field">
				<label for="metodoPagamentoCliente"> Modalità di Pagamento </label>
				<div>
					<input type="radio" id="cartaCredito" [(ngModel)]="model.metodoPagamentoCliente"
						name="metodoPagamentoCliente" #name="ngModel" value="Carta di Credito">
					<label for="cartaCredito">Carta di Credito</label>
				</div>
				<div>
					<input type="radio" id="cartaPrepagata" [(ngModel)]="model.metodoPagamentoCliente"
						name="metodoPagamentoCliente" #name="ngModel" value="Carta Prepagata">
					<label for="cartaPrepagata">Carta Prepagata</label>
				</div>
				<div>
					<input type="radio" id="assegno" [(ngModel)]="model.metodoPagamentoCliente"
						name="metodoPagamentoCliente" #name="ngModel" value="Assegno">
					<label for="assegno">Assegno</label>
				</div>
				<div>
					<input type="radio" id="bonifico" [(ngModel)]="model.metodoPagamentoCliente"
						name="metodoPagamentoCliente" #name="ngModel" value="Bonifico">
					<label for="bonifico">Bonifico</label>
				</div>
				<div>
					<input type="radio" id="bancomat" [(ngModel)]="model.metodoPagamentoCliente"
						name="metodoPagamentoCliente" #name="ngModel" value="Bancomat">
					<label for="bancomat">Bancomat</label>
				</div>
				<div>
					<input type="radio" id="cambiale" [(ngModel)]="model.metodoPagamentoCliente"
						name="metodoPagamentoCliente" #name="ngModel" value="cambiale">
					<label for="cambiale">Cambiale</label>
				</div>
			</div>
		</div>

		<button type="submit" class="ui button" [disabled]="!inserimentoInfoCliente.form.valid" (click)="setAction('')">Conferma Dati</button>
	</div>
	<div [hidden]="!submitted">
		<p>Task completed.</p>
	</div>
</form>