<body>
	<div class="ui grid">
		<div class="twelve wide column centered">
			<h1>
				<img src="assets/resources/camunda-logo.png" width="80" height="80">
				{{title}}
			</h1>
		</div>
		
		<div class="twelve wide column centered" >
			<div class="ui pointing inverted menu">
				<a class="item" routerLink="/home" class="item">Process Deploy</a>
				<a class="item" routerLink="/processlist" class="item">Process List</a>
				<a class="item" routerLink="/tasklist" class="item">Task List</a>
				<div class="right menu">
					<a class="blue item" [routerLink]="['/admin']">Admin Dashboard</a>
					<a class="blue item" [routerLink]="['/user']">
						<img src="assets/resources/icons8-user-50.png" alt="">
					</a>
					<a class="blue item" [routerLink]="['/login']">
						<img src="assets/resources/icons8-logout-50.png" alt="">
					</a>
				</div>
				
			</div>
			<div class="ui segment" id="main-content">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</body>