<form (ngSubmit)="onSubmit()" (ngModelChange)="changedExtraHandler($event)" #selezionaAccordo="ngForm" class="ui form">
	<div [hidden]="submitted">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li id="breadcrumb-item-active" class="breadcrumb-item active">Seleziona Accordo</li>
				<li id="breadcrumb-item" class="breadcrumb-item">Scelta Area Oggetti</li>
				<li id="breadcrumb-item" class="breadcrumb-item">Scelta Pacchetto</li>
				<li id="breadcrumb-item" class="breadcrumb-item">Informazioni Cliente</li>
				<li id="breadcrumb-item" class="breadcrumb-item">Riepilogo Dati</li>
			</ol>
		</nav>

		<h3>Seleziona un Accordo</h3>

		<div id="accordo" [class.selected]="accordo===model" required *ngFor="let accordo of accordi" (click)="onSelect(accordo)">
			<h5> {{accordo.nomeAccordo}} </h5>
				<div id="area-pacchetto" *ngIf="model.idAccordo == accordo.idAccordo">
					<h4> Informazioni garanzia {{accordo.nomeAccordo}} </h4>
					<h5> {{accordo.infoAccordo}} </h5>
				</div>
		</div>

		<button type="submit" class="ui button" [disabled]="model.idAccordo==''" (click)="setAction('')">Conferma</button>
	</div>
	<div [hidden]="!submitted">
		<p>Task completed.</p>
	</div>
</form>