<form (ngSubmit)="onSubmit()" (ngModelChange)="changedExtraHandler($event)" #selezionaAccordo="ngForm" class="ui form">
	<div [hidden]="submitted">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li id="breadcrumb-item-active" class="breadcrumb-item active">Seleziona Accordo</li>
			</ol>
		</nav>

		<h2>Seleziona un Accordo</h2>

		<div id="accordo" [class.selected]="accordo===model" required *ngFor="let accordo of accordi" (click)="onSelect(accordo)">
			<h5> {{accordo.nome}} </h5>
				<div id="area-pacchetto" *ngIf="model.id == accordo.id">
					<h4> Informazioni garanzia {{accordo.nome}} </h4>
					<h5> {{accordo.info}} </h5>
				</div>
		</div>

		<button type="submit" class="ui button" [disabled]="model.id==''">Conferma</button>
	</div>
	<div [hidden]="!submitted">
		<p>Task completed.</p>
	</div>
</form>