<form (ngSubmit)="onSubmit()" (ngModelChange)="changedExtraHandler($event)" #sceltaPacchetto="ngForm" class="ui form">
	<div [hidden]="submitted">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li id="breadcrumb-item-back" class="breadcrumb-item-back">
					<button name="breadcrumb-item-back" type="submit" id="breadcrumb-item-back" class="breadcrumb-item-back" (click)="setAction('selezionaAccordo')">Seleziona Accordo</button></li>
				<li id="breadcrumb-item-back" class="breadcrumb-item-back">
					<button name="breadcrumb-item-back" type="submit" id="breadcrumb-item-back" class="breadcrumb-item-back" (click)="setAction('sceltaAreaOggetti')">Scelta Area Oggetti</button></li>
				<li id="breadcrumb-item-active" class="breadcrumb-item active">Scelta Pacchetto</li>
				<li id="breadcrumb-item" class="breadcrumb-item">Informazioni Cliente</li>
				<li id="breadcrumb-item" class="breadcrumb-item">Riepilogo Dati</li>
			</ol>
		</nav>
		<div class="fields">
			<div class="eight wide field" id="choice" [class.selected]="sceltaPacchettoGaranzie == 'pacchetto'"  (click) = "setChoice('pacchetto')"
			[ngClass]="{'highlight': sceltaPacchettoGaranzie == 'pacchetto'}">
				<h4> Pacchetto </h4>
			
			</div>
			<div class="eight wide field" id="choice" [class.selected]="sceltaPacchettoGaranzie == 'garanzie'" (click) = "setChoice('garanzie')"
			[ngClass]="{'highlight': sceltaPacchettoGaranzie == 'garanzie'}">
				<h4> Garanzie </h4>
			</div>
			
		</div>
		<div *ngIf="sceltaPacchettoGaranzie == 'garanzie'">
			<h4> Scegli garanzie </h4>
			<div id="choice" [class.selected]="isGaranziaSelected(garanzia.idGaranzia)" *ngFor="let garanzia of getGaranzie()"  (click)="selectGaranzie(garanzia)">
				<h5> {{garanzia.nomeGaranzia}} </h5>
				<div id="area-pacchetto" *ngIf="isGaranziaSelected(garanzia.idGaranzia)">
					<h4> Informazioni garanzia {{garanzia.nome}} </h4>
					<h5> {{garanzia.infoGaranzia}} </h5>
				</div>
			</div>
		</div> 
		<!------------------------------------------------------------------->
		<div *ngIf="sceltaPacchettoGaranzie == 'pacchetto'">
			<h4> Scegli Pacchetto </h4>
			<div id="choice" [class.selected]="model.idPacchetto == pacchetto.idPacchetto" *ngFor="let pacchetto of getPacchetti()" (click)="setPacchettoSelezionato(pacchetto)">
				<h5> {{pacchetto.nomePacchetto}} </h5>
				<div id="area-pacchetto" *ngIf="model.idPacchetto == pacchetto.idPacchetto">
					<h4> Informazioni pacchetto  {{model.nomePacchetto}} </h4>
					<h5> {{model.infoPacchetto}} </h5>
				</div>
			</div>
			
		</div>
		
		<button type="submit" class="ui button" [disabled]="model.idPacchetto == ''" (click)="setAction('')">Conferma Scelta</button>
	</div>
	<div [hidden]="!submitted">
		<p>Task completed.</p>
	</div>
</form>