<form (ngSubmit)="onSubmit()" (ngModelChange)="changedExtraHandler($event)" #richiestaCalcoloPremio="ngForm"
	class="ui form">
	<div [hidden]="submitted">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li id="breadcrumb-item" class="breadcrumb-item">
					<button name="breadcrumb-item-back" type="submit" id="breadcrumb-item-back" class="breadcrumb-item-back" (click)="setAction('selezionaAccordo')">Seleziona Accordo</button></li>
				<li id="breadcrumb-item" class="breadcrumb-item">
					<button name="breadcrumb-item-back" type="submit" id="breadcrumb-item-back" class="breadcrumb-item-back" (click)="setAction('sceltaAreaOggetti')">Scelta Area Oggetti</button></li>
				<li id="breadcrumb-item" class="breadcrumb-item">
					<button name="breadcrumb-item-back" type="submit" id="breadcrumb-item-back" class="breadcrumb-item-back" (click)="setAction('sceltaPacchetto')">Scelta Pacchetto</button></li>
				<li id="breadcrumb-item" class="breadcrumb-item">
					<button name="breadcrumb-item-back" type="submit" id="breadcrumb-item-back" class="breadcrumb-item-back" (click)="setAction('inserimentoInfoCliente')">
						Informazioni Cliente</button></li>			
				<li id="breadcrumb-item-active" class="breadcrumb-item active">Riepilogo Dati</li>
			</ol>
		</nav>
		<div class="field" name="infoCliente" id="area-info">
			<p>Codice identificativo: {{model.codiceCliente}}</p>		
			<p>Nome: {{model.nomeCliente}}</p>
			<p>Cognome/Ragione Sociale: {{model.cognomeCliente}}</p>
			<p>Codice Fiscale: {{model.codiceFiscaleCliente}}</p>
			<p>Partita IVA: {{model.partitaIvaCliente}}</p>
			<p>Metodo di Pagamento Scelto: {{model.metodoPagamentoCliente}}</p>
		</div>
		<div *ngIf="model.nomePacchetto != ''" class="field" name="pacchetto" id="area-info">
			<h4>Pacchetto</h4>
			<h5>{{model.nomePacchetto}}</h5>
			<p id="area-info">{{model.infoPacchetto}}</p>
		</div>
		<div class="field" name="garanzie" id="area-info">
			<h4>Garanzie</h4>
			<div *ngFor=" let gar of model.garanzie">
				<h5 >{{gar.nomeGaranzia}}</h5>
				<p id="area-info">{{gar.infoGaranzia}}</p>
			</div>
			
		</div>
		<button type="button" class="ui button" (click)="openPopup()">Richiedi il Calcolo</button>
		<!------------------POP UP------------------>
		<div class="overlay" *ngIf="comfirmPopUp">
			<div class="popup">
				<h2>Conferma Emissione</h2>
				<a class="close" (click)="comfirmPopUp = false">&times;</a>
				<div class="content">
					Vuoi confermare questa emissione?
				</div>
				<div align="right">
					<button class="ui button" (click)="comfirmPopUp = false">Annulla</button>
					<button type="submit" class="ui button" id="confirm" (click)="setAction('')">Conferma</button>
				</div>
			</div>
		</div>
	</div>
	<div [hidden]="!submitted">
		<p>Task completed.</p>
	</div>
</form>